*{
    margin: 0;
    padding: 0;
}

 .banner{
    height: 120vh;
    width: 100vw;
    background-image: url(images/loginBanner.jpg);
    background-repeat: no-repeat;
    background-position: top;
} 
.overlay{
    height: 120vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(8, 8, 8, 0.479);
    z-index: 1;
}
.logo{
    color: red;
    font-size: 20px;
    margin-left: 10%;
    
}
.menu{
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 20px 50px;
  align-items: center;
}

.loginForm{
    margin-left: 29%;;
    height: 100vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(10, 10, 10, 0.747);
    align-items: center;
    color: white;
}

#heading{
    align-self: flex-start;
padding: 30px 0px 20px 50px;
}


.but{
    height: 10%;
    width: 70%;
    border: 1px solid black;
    margin: 8px;
    border-radius: 3%;
    /* background: transparent; */
    background-color: rgba(66, 64, 64, 0.596);
    font-size: 18px;
}
.loginForm input::placeholder{
    color: white;
    padding: 20px;
    font-size: 18px;
}

#sign-in{
    background-color: red;
height: 7%;
color: white;
}
#code{
    height: 7%;
    background-color: rgb(53, 52, 52);
    color: white;
}

.a{
    color: white;
    font-size: 20px;
}
.box{
    margin-top: 0px;
    line-height: 40px;
    width: 27vw;
}
.text{
    line-height: 20px;
}

footer{
    height: 50vh;
    width: 100vw;
    background-color: rgb(22, 22, 22);
    color: white;
    display: flex;
    justify-content: space-between;
}
footer a{
    color: white;
/* padding: 50px; */
margin: 80px;
}
.content{
    height: 40vh;
    width: 75vw;
    margin:auto auto ;
    box-sizing: border-box;
}

#language{
    margin: 20px 80px;
    padding: 10px 15px ;
    color: white;
    background: transparent;
    font-size: 16px;
}
.links{
    margin-top: 30px;
    line-height: 40px;
}
#call{
    margin-left: 7%;
}

.text p{
    color:rgba(255, 255, 255, 0.322);
}
.box h3{
    color:rgba(255, 255, 255, 0.527) ;
}
#learnMore{
    color: rgb(48, 48, 197);
}
